[submodule "Package Control"]
	path = Package Control
	url = https://github.com/wbond/sublime_package_control.git
[submodule "Theme - Cobalt2"]
	path = Theme - Cobalt2
	url = git@github.com:wesbos/cobalt2.git
[submodule "Git"]
	path = Git
	url = git@github.com:kemayo/sublime-text-2-git.git
