[submodule "Package Control"]
	path = Package Control
	url = https://github.com/wbond/sublime_package_control.git
[submodule "Theme - Cobalt2"]
	path = Theme - Cobalt2
	url = git@github.com:wesbos/cobalt2.git
[submodule "Git"]
	path = Git
	url = git@github.com:kemayo/sublime-text-2-git.git
[submodule "Vintageous"]
	path = Vintageous
	url = git@github.com:guillermooo/Vintageous.git
[submodule "SublimeLinter"]
	path = SublimeLinter
	url = git@github.com:SublimeLinter/SublimeLinter.git
[submodule "rsub"]
	path = rsub
	url = git@github.com:henrikpersson/rsub.git
[submodule "TrailingSpaces"]
	path = TrailingSpaces
	url = git://github.com/SublimeText/TrailingSpaces.git
